@font-face {
  font-family: 'medieval';
  src: url('/static/fonts/medieval.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'medieval2';
  src: url('/static/fonts/medieval2.otf');
  font-weight: normal;
  font-style: normal;
}


#map
{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 1;
}



.overlay {
	position: absolute;
	width: 1000vw !important;
	height: 1000vh !important;
	background-color: rgba(207, 178, 156, 0.6);
	left: -100vw;
	right: 0;
	top: -100vw;
	bottom: 0;
	padding: 0;
	margin: 0;
	pointer-events: none;
}

.overlay2 {
	position: absolute;
	width: 1000vw !important;
	height: 1000vh !important;
	left: -100vw;
	right: 0;
	top: -100vw;
	bottom: 0;
	padding: 0;
	margin: 0;
	background-image: url('/static/images/dots.svg');
    background-repeat: repeat;
    user-select:none;
    pointer-events:none;
}


#map-title
{
    position:absolute;
    left:0;
    right:0;
    top:3vh;
    width:fit-content;
    margin:auto;
    z-index:  203;
    pointer-events: none;
}

#map-title-ribbon
{
    font-family: 'medieval2';
    font-size: 4vh;
    border: none;
    box-shadow: none;
    color:black;
    text-align:center;
    width:50vh;
    height:20vh;
    background: rgba(0,0,0,0);
    background-image: url('/static/images/ribbon4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform:scale(1);
    transition: all 0.2s;
    position:relative:
    z-index: 204;
    user-select:none;

}

#go-back-button
{
    font-family: 'medieval2';
    background: rgba(0,0,0,0);
    transform:scale(1);
    opacity:1;
    transition: all 0.2s;
    font-size: 5vh;
    border: none;
    box-shadow: none;
    color:black;
    text-align:center;
    width:8vh;
    height:8vh;
    z-index:624;
    position:absolute;
    left:41%;
    bottom: 3.5vh;
    cursor: pointer;
    pointer-events: all;
}

#go-back-button:hover
{
    transform:scale(1.2);
    opacity:0.8;
}


#go-back-button:active
{
    transform:scale(0.7);
    opacity:0.4;
}


#close-info-button {
	position: absolute;
	width: 5vh;
	height: 5vh;
	left: 28vh;
	top: 1.4vh;
	color: black;
	z-index: 1000;
	font-size: 3vh;
	background: none;
	border: none;
	box-shadow: none;
	transition: all 0.2s;
	transform: scale(1);
	opacity: 1.0;
	cursor:pointer;
}

#close-info-button:hover
{
    transform: scale(1.2);
    opacity: 0.6;
}

#info-name
{
    font-size: 3vh;
    margin-top: 2vh;
    margin-bottom:0;
}

#info
{
    font-family: 'medieval2';
    font-size: 1.5vh;
    border: none;
    box-shadow: none;
    color:black;
    text-align:center;
    width:40vh;
    height:50vh;

    background: rgba(0,0,0,0);
    background-image: url('/static/images/scroll.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position:absolute;
    z-index: 204;
    user-select:none;
    left:0vh;
    top:0.5vh;
    display:none;

}

#info-table
{
position:relative;
margin-left:9vh;
width:55%;
margin-top:0vh;
border-collapse: collapse;
}

.info-th, .info-td
{
border-bottom: 1px solid black;
padding: 0.3vh;
text-align: left;

}

.forest-tooltip
{
    font-family: 'medieval2';
    font-size: 3vh;
    border: none;
    box-shadow: none;
    color:black;
    text-align:center;
    width:17vh;
    height:5vh;
    background: rgba(0,0,0,0);
    background-image: url('/static/images/ribbon1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform:scale(1);
    transition: all 0.2s;
}

.forest-tooltip-scaled
{
    width:18vh;
    height:5.5vh;
}


.title-text
{
    position: absolute;
	left: 0;
	right: 0;
	top: 1vh;
	user-select:none;
    pointer-events:none;
}


.curved-text
{
	position: absolute;
	left: 0;
	right: 0;
	top: -0.5vh;
	user-select:none;
    pointer-events:none;
}

.text-path {
  fill: transparent;
  stroke: none;

}

.text-text {
  fill: black;
}
